/** regole */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr {
    background-color: white;
}

.padding-vertical-20 {
    padding: 20px;
}

.padding-vertical-mix {
    padding: 20px 35px 20px 35px;
}


/** colori di background */
.bg-blue {
    background-color: blue;
}

.bg-grey {
    background-color: gray;
}



body {
    height: 100vh;
    width: 100%;
    font-family: 'Whitney', Helvetica, Arial, sans-serif;
}

header {
    height: 11%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: rgba(49, 97, 224, 255);
    color: white;
}

footer {
    background-color: black;
}

.row {
    width: 85%;
    display: flex;
    align-items: center;
}

.col-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.col-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col-menu ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.col-menu button {
    padding: 8px 10px;
    border-radius: 20px;
    border: 1px solid rgba(49, 97, 224, 255);
    background-color: white;
    font-weight: bolder;
}

.col-login {
    height: 30px;
    width: 30%;
    display: flex;
    align-items: center;

}

.col-login .button {
    margin: 0 auto;
    height: 26px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

/** main */
.bg-img {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.container-sm {
    width: 68%;
    margin: 0 auto;
}

.row-sm {
    width: 100%;
    display: flex;
}

.paragraph {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 68px 57px 0px 57px;
}

.titolo {
    font-size: 20px;
}

.paragrafo {
    padding: 12px 24px;
    text-align: center;
}

.paragrafo p {
    display: flex;
    align-items: center;
    text-align: center;
}

.bottoni {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

/* .download {
    margin-right: 0px;
} */

#button1 {
    padding: 8px 10px;
    border-radius: 20px;
    background-color: white;
    font-weight: bolder;
}


#button2 {
    padding: 8px 10px;
    border-radius: 20px;
    font-weight: bolder;
    background-color: black;
    color: white;
}

.open-discord {
    margin-left: 22px;
}

.col-25 {
    height: 50px;
    width: 25%;
    background-color: orange;
    border: 1px solid black;
}

.col-25-footer {
    height: 250px;
    width: 25%;
    background-color: orange;
    border: 1px solid black;
}

.col-30 {
    background-color: cyan;
    border: 1px solid white;
    height: 250px;
    width: 30%;
}

.col-40 {
    height: 300px;
    width: 40%;
    background-color: pink;
    border: 1px solid black;
}

.col-50 {
    height: 50px;
    width: 50%;
    background-color: orange;
    border: 1px solid black;
}

.col-60 {
    height: 300px;
    width: 60%;
    background-color: lightblue;
    border: 1px solid black;
}

.col-70 {
    background-color: burlywood;
    border: 1px solid white;
    height: 250px;
    width: 70%;
}

.col-100 {
    width: 100%;
    margin: 0 auto;
    height: 388px;
}

.column-bar {
    width: 80%;
    margin: 0 auto;
    background-color: blueviolet;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column-bar p {
    margin-left: 2%;
}

.column-bar button {
    margin-right: 2%;
}